
#about {
  padding: 16px;
}

.bdr {
  border: 1px solid red;
}

#portfolio .card {
  margin: 0 -8px 32px -8px;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
#portfolio .card .card-title {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding: 16px;
  font-weight: 300;
}
#portfolio .card .card-data {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding: 16px 16px 0 0;
  font-size: 1.5rem;
  font-weight: 300;
}
#portfolio .card hr {
  width: 90%;
}
#portfolio .card .card-hint {
  display: -webkit-box;
  display: flex;
  padding: 0 0 8px 8px;
  font-size: 0.9rem;
  font-weight: 300;
}
#portfolio .card .card-hint ion-icon {
  font-size: 1.3rem;
  color: red;
  margin-right: 8px;
}
#portfolio .card .card-icon {
  display: -webkit-box;
  display: flex;
  position: absolute;
  top: -20px;
  left: 12px;
  background: linear-gradient(60deg, #ffa726, #EF6C00);
  color: white;
  width: 90px;
  height: 90px;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  border-radius: 25%;
}
#portfolio .card .card-icon ion-icon {
  font-size: 4rem;
}
#portfolio #storageCard .card-icon {
  background: linear-gradient(60deg, #5E35B1, #039BE5);
}
#portfolio #storageCard .card-hint ion-icon {
  color: red;
}
#portfolio #loveCard .card-icon {
  background: linear-gradient(60deg, #F50057, #FF8A80);
}
#portfolio #loveCard .card-hint ion-icon {
  color: blue;
}
#portfolio #pizzaCard .card-icon {
  background: linear-gradient(60deg, #fb8c00, #FFCA29);
}
#portfolio #pizzaCard .card-hint ion-icon {
  color: red;
}
#portfolio #gameCard .card-icon {
  background: linear-gradient(60deg, #43A047, #FFEB3B);
}
#portfolio #gameCard .card-hint ion-icon {
  color: green;
}

/* TABLE DASHBOARD USER AND ADMIN*/

.projects-table {
  background: #273142;
  width: 100%;
}
.projects-table td,
.projects-table th {
  color: white;
  padding: 10px 22px;
  vertical-align: middle;
}
.projects-table td p {
  font-size: 12px;
  color: #fff;
}
.projects-table td .subrow{
  color: #738297;
  font-size: 11px;
}
.projects-table th {
  font-family: monospace;
  background-color: #313D4F;
}
.projects-table tr:hover {
  background-color: #303d52;
}
.projects-table tr:not(:last-of-type) {
  border-bottom: 1px solid #313D4F;
}
.projects-table .member figure,
.projects-table .member .member-info {
  display: inline-block;
  vertical-align: top;
}
.projects-table .member figure + .member-info {
  margin-left: 7px;
}
.projects-table .member img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.projects-table .status > form {
  float: right;
}
.projects-table .status-text {
  display: inline-block;
  font-size: 12px;
  margin: 11px 0;
  padding-left: 20px;
  position: relative;
}
.projects-table .status-text:before {
  border: 3px solid;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 14px;
}
.projects-table .status-text.status-blue:before {
  border-color: #1C93ED;
}
.projects-table .status-text.status-green:before {
  border-color: #66B92E;
}
.projects-table .status-text.status-orange:before {
  border-color: #DA932C;
}
.projects-table .status-text.status-red:before {
  border-color: #D65B4A;
}

.selectric {
  background-color: transparent;
  border-color: #313D4F;
  border-radius: 4px;
}
.selectric .label {
  color: #738297;
  line-height: 34px;
  margin-right: 10px;
  text-align: left;
}
.selectric-wrapper {
  float: right;
  width: 150px;
}
